In [1]:
import pandas as pd

In [2]:
df_brands = pd.read_csv('../landing/brands/brands.csv')
df_brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand_id      9 non-null      int64
 1   brand_name    9 non-null      object
 2   extract_date  9 non-null      object
 3   source        9 non-null      object
dtypes: int64(1), object(3)
memory usage: 416.0+ bytes

In [3]:
df_brands.duplicated().sum()

0

In [4]:
df_brands.isnull().sum()

brand_id        0
brand_name      0
extract_date    0
source          0
dtype: int64

In [5]:
df_brands

   brand_id    brand_name                extract_date    source
0         1       Electra  2024-04-28 18:21:24.029650  datalake
1         2          Haro  2024-04-28 18:21:24.029650  datalake
2         3        Heller  2024-04-28 18:21:24.029650  datalake
3         4   Pure Cycles  2024-04-28 18:21:24.029650  datalake
4         5       Ritchey  2024-04-28 18:21:24.029650  datalake
5         6       Strider  2024-04-28 18:21:24.029650  datalake
6         7  Sun Bicycles  2024-04-28 18:21:24.029650  datalake
7         8         Surly  2024-04-28 18:21:24.029650  datalake
8         9          Trek  2024-04-28 18:21:24.029650  datalake

In [6]:
df_brands.to_csv('../staging/brands/brands.csv', index = 0)