In [1]:
import pandas as pd

In [2]:
df_categories = pd.read_csv('../landing/categories/categories.csv')
df_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    7 non-null      int64
 1   category_name  7 non-null      object
 2   extract_date   7 non-null      object
 3   source         7 non-null      object
dtypes: int64(1), object(3)
memory usage: 352.0+ bytes

In [3]:
df_categories.duplicated().sum()

0

In [4]:
df_categories.isnull().sum()

category_id      0
category_name    0
extract_date     0
source           0
dtype: int64

In [5]:
df_categories

   category_id        category_name                extract_date    source
0            1    Children Bicycles  2024-04-28 18:21:25.602880  datalake
1            2     Comfort Bicycles  2024-04-28 18:21:25.602880  datalake
2            3    Cruisers Bicycles  2024-04-28 18:21:25.602880  datalake
3            4  Cyclocross Bicycles  2024-04-28 18:21:25.602880  datalake
4            5       Electric Bikes  2024-04-28 18:21:25.602880  datalake
5            6       Mountain Bikes  2024-04-28 18:21:25.602880  datalake
6            7           Road Bikes  2024-04-28 18:21:25.602880  datalake

In [6]:
df_categories.to_csv('../staging/categories/categories.csv', index = 0)