In [2]:
import pandas as pd
from datetime import datetime
import re

In [4]:
df_orders = pd.read_csv('../landing/orders/orders.csv')
df_orders.info()
df_orders.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1615 non-null   int64
 1   customer_id    1615 non-null   int64
 2   order_status   1615 non-null   int64
 3   order_date     1615 non-null   object
 4   required_date  1615 non-null   object
 5   shipped_date   1445 non-null   object
 6   store_id       1615 non-null   int64
 7   staff_id       1615 non-null   int64
 8   extract_date   1615 non-null   object
 9   source         1615 non-null   object
dtypes: int64(5), object(5)
memory usage: 126.3+ KB

order_id           0
customer_id        0
order_status       0
order_date         0
required_date      0
shipped_date     170
store_id           0
staff_id           0
extract_date       0
source             0
dtype: int64

In [5]:
def convert_date_columns(df):

    date_pattern = r'^\d{4}-\d{2}-\d{2}$'

    for col in df.columns:
        if re.match(date_pattern, str(df[col].iloc[0])):
            df[col] = pd.to_datetime(df[col], format='%Y-%m-%d', errors='coerce')

    return df

In [6]:
df_orders = convert_date_columns(df_orders)

In [7]:
df_orders.isnull().sum()

order_id           0
customer_id        0
order_status       0
order_date        11
required_date     13
shipped_date     183
store_id           0
staff_id           0
extract_date       0
source             0
dtype: int64

In [8]:
df_orders['order_date'].fillna(method = 'ffill', inplace = True)
df_orders['required_date'].fillna(method = 'ffill', inplace = True)
df_orders['shipped_date'].fillna(method = 'ffill', inplace = True)

In [9]:
df_orders.isnull().sum()

order_id         0
customer_id      0
order_status     0
order_date       0
required_date    0
shipped_date     0
store_id         0
staff_id         0
extract_date     0
source           0
dtype: int64

In [10]:
df_orders.duplicated().sum()

0

In [11]:
df_orders = df_orders[(df_orders['order_date'] >= '2000-01-01') & (df_orders['order_date'] <= '2024-01-01')]

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,extract_date,source
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,2024-04-28 18:15:34.177976,postgre
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6,2024-04-28 18:15:34.177976,postgre
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7,2024-04-28 18:15:34.177976,postgre
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3,2024-04-28 18:15:34.177976,postgre
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6,2024-04-28 18:15:34.177976,postgre
...,...,...,...,...,...,...,...,...,...,...
1610,1611,6,3,2018-09-06,2018-09-06,2018-04-02,2,7,2024-04-28 18:15:34.177976,postgre
1611,1612,3,3,2018-10-21,2018-10-21,2018-04-02,1,3,2024-04-28 18:15:34.177976,postgre
1612,1613,1,3,2018-11-18,2018-11-18,2018-04-02,2,6,2024-04-28 18:15:34.177976,postgre
1613,1614,135,3,2018-11-28,2018-11-28,2018-04-02,3,8,2024-04-28 18:15:34.177976,postgre
1614,1615,136,3,2018-12-28,2018-12-28,2018-04-02,3,8,2024-04-28 18:15:34.177976,postgre

In [13]:
df_orders.to_csv('../staging/orders/orders.csv', index = 0)