In [1]:
import pandas as pd

In [2]:
df_staffs = pd.read_csv('../landing/staffs/staffs.csv')
df_staffs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   staff_id      10 non-null     int64
 1   first_name    10 non-null     object
 2   last_name     9 non-null      object
 3   email         9 non-null      object
 4   phone         8 non-null      object
 5   active        10 non-null     int64
 6   store_id      9 non-null      float64
 7   manager_id    9 non-null      float64
 8   extract_date  10 non-null     object
 9   source        10 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 928.0+ bytes

In [3]:
df_staffs.duplicated().sum()

0

In [4]:
full_name = df_staffs['email'].str.split('@', expand = True)[0]
last_name = full_name.str.split('.', expand = True)[1]
last_name = last_name.str.title()
last_name

0     Jackson
1    Copeland
2     Serrano
3     Wiggins
4       David
5         NaN
6      Daniel
7      Vargas
8     Terrell
9     Houston
Name: 1, dtype: object

In [5]:
email = (df_staffs['first_name']).str.lower()+'.'+(df_staffs['last_name']).str.lower()+'@bikes.shop'
email

0       fabiola.jackson@bikes.shop
1                              NaN
2         genna.serrano@bikes.shop
3        virgie.wiggins@bikes.shop
4        jannette.david@bikes.shop
5       marcelene.boyer@bikes.shop
6         venita.daniel@bikes.shop
7           kali.vargas@bikes.shop
8         layla.terrell@bikes.shop
9    bernardine.houston@bikes.shop
dtype: object

In [6]:
df_staffs['last_name'].fillna(last_name, inplace = True)
df_staffs['email'].fillna(email, inplace = True)
df_staffs['phone'].fillna('not-available', inplace = True)
df_staffs['store_id'].fillna(0, inplace = True)
df_staffs['manager_id'].fillna(1.0, inplace = True)

In [7]:
df_staffs.isnull().sum()

staff_id        0
first_name      0
last_name       0
email           0
phone           0
active          0
store_id        0
manager_id      0
extract_date    0
source          0
dtype: int64

In [8]:
df_staffs.to_csv('../staging/staffs/staffs.csv', index = 0)