In [1]:
import pandas as pd

In [2]:
df_stores = pd.read_csv('../landing/stores/stores.csv')
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      3 non-null      int64
 1   store_name    3 non-null      object
 2   phone         3 non-null      object
 3   email         2 non-null      object
 4   street        3 non-null      object
 5   city          3 non-null      object
 6   state         3 non-null      object
 7   zip_code      2 non-null      float64
 8   extract_date  3 non-null      object
 9   source        3 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 368.0+ bytes

In [3]:
df_stores.isnull().sum()

store_id        0
store_name      0
phone           0
email           1
street          0
city            0
state           0
zip_code        1
extract_date    0
source          0
dtype: int64

In [4]:
city = df_stores['city'].str.lower()
city = city.str.replace(' ', '')
email =  city+'@bikes.shop'
email

0    santacruz@bikes.shop
1      baldwin@bikes.shop
2      rowlett@bikes.shop
Name: city, dtype: object

In [5]:
df_stores['email'].fillna(email, inplace = True)
df_stores['zip_code'].fillna(0,inplace = True)

In [6]:
df_stores

,store_id,store_name,phone,email,street,city,state,zip_code,extract_date,source
0,1,Santa Cruz Bikes,(831) 476-4321,santacruz@bikes.shop,3700 Portola Drive,Santa Cruz,CA,0.0,2024-04-28 18:21:36.905463,datalake
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-04-28 18:21:36.905463,datalake
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-04-28 18:21:36.905463,datalake

In [7]:
df_stores.to_csv('../staging/stores/stores.csv', index = 0)